<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>

        <title class="bg-sky-900">RoadReady Parts</title>
    </head>

    <body>
        <header class="mx-auto container grid grid-cols-4 py-6 px-6 gap-3 flex">
            <div>
                <a href="{% url 'core:index' %}" class="text-3xl font-semibold">RoadReady Parts</a>
            </div>   

            <div class="col-span-2">
                <form>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                        </div>
                        <input type="search" id="search" class="block w-full p-6 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 " placeholder="Tell us what you are looking for..." required>
                        <a href="{% url 'item:items' %}" class="px-6 py-3 text-lg text-black font-semibold rounded-xl bg-yellow-300 absolute right-2.5 bottom-2.5">Search</a>
                    </div>
                </form>
            </div>
            <div class="relative">
                <a href="{% url 'core:shoppingcart' %}" class="px-6 py-3 text-lg text-white font-semibold rounded-xl bg-sky-900 hover:bg-yellow-300 hover:text-black">Shopping Cart</a>

                {% if request.user.is_authenticated %}
                    <a href="{% url 'core:logout' %}" class="px-6 py-3 text-lg font-semibold bg-sky-900 text-white rounded-xl hover:bg-yellow-300 hover:text-black">Logout</a>
                {% else %}
                    <a href="{% url 'core:signup' %}" class="px-6 py-3 text-lg font-semibold bg-sky-900 text-white rounded-xl hover:bg-yellow-300 hover:text-black">Register</a>
                {% endif %}
            </div>
        </header>
        
        <div class="px-6 py-6">
            {% block content %}{% endblock %}
        </div>

        <!-- Beginning of Footer -->
        <footer class="mx-auto container py-6 px-6 flex justify-between bg-sky-900">
            <div class="w-1/5 align-content:center" >
                <h3 class="mb-5 font-semibold text-yellow-300">Need Help?</h3>
                <a href="{% url 'core:contact' %}" class="px-6 py-3 text-lg font-semibold bg-sky-900 text-white rounded-xl hover:bg-yellow-300 hover:text-black">Contact Us</a>
                <br><br>
                <img class="w-2/3" src="{% static 'img/holberton-logo.webp' %}" alt="holberton-logo">
            </div>

            <div class="w-1/5">
                <h3 class="mb-5 font-semibold text-yellow-300">Security and Privacy</h3>

                <ul class="space-7-2">
                    <li><a href="{% url 'core:condition' %}" class="text-lg text-amber-100">Conditions of Use</a></li>
                    <li><a href="{% url 'core:privacy' %}" class="text-lg text-amber-100">Privacy Notice</a></li>
                    <li><a href="{% url 'core:serviceterms' %}" class="text-lg text-amber-100">Terms of Service</a></li>
                    <li><a href="{% url 'core:eula' %}" class="text-lg text-amber-100">User Agreement</a></li>
                </ul>
            </div>

            <div class="w-1/5">
                <h3 class="mb-5 font-semibold text-yellow-300">Corporate Info</h3>

                <ul class="space-7-2">
                    <li><a href="{% url 'core:aboutus' %}" class="text-lg text-amber-100">About Us</a></li>
                    <li><a href="{% url 'core:aboutus' %}" class="text-lg text-amber-100">Trademarks</a></li>
                    <li><a href="{% url 'core:aboutus' %}" class="text-lg text-amber-100">FAQs</a></li>
                    <li><a href="{% url 'core:aboutus' %}" class="text-lg text-amber-100">Site Map</a></li>
                </ul>
            </div>

            <div class="w-1/5">
                <h3 class="mb-5 font-semibold text-yellow-300">Customer Service</h3>

                <ul class="space-7-2">
                    <li><a href="#" class="text-lg text-amber-100">Gift Cards</a></li>
                    <li><a href="#" class="text-lg text-amber-100">Your Orders</a></li>
                    <li><a href="#" class="text-lg text-amber-100">Your Payments</a></li>
                </ul>
            </div>

            <div class="w-1/5">
                <h3 class="mb-5 font-semibold text-yellow-300">Location</h3>

                <ul class="space-7-2">
                    <li><a href="https://www.facebook.com" class="text-lg text-amber-100">Facebook</a></li>
                    <li><a href="https://twitter.com" class="text-lg text-amber-100">Twitter</a></li>
                    <li><a href="https://www.instagram.com" class="text-lg text-amber-100">Instagram</a></li>
                    <li><a href="https://www.youtube.com" class="text-lg text-amber-100">Youtube</a></li>
                    <li><a href="https://www.linkedin.com" class="text-lg text-amber-100">LinkedIn</a></li>
                </ul>
                
            </div>
        </footer>
        <!-- End of Footer -->
    </body>
</html>